.content {
  background-color: var(--background-white);
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: row !important;
  gap: 40px;
}

.item_image {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  padding: 40px 0 40px 40px;
  box-sizing: border-box;
}

.item_image h1 {
  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: 300;
  font-style: normal;
  font-size: 58px;
  letter-spacing: -2px;
}

.item_info {
  padding: 40px 40px 40px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  box-sizing: border-box;
}

.item_info h2 {
  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: 300;
  font-style: normal;
  font-size: 72px;
  letter-spacing: -2px;
}

.item_info p {
  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: 300;
  font-style: normal;
  font-size: 36px;
  letter-spacing: -2px;
}

.item_info table {
  margin-top: 40px;
  width: 100%;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-family: var(--font-main);
  font-weight: 300;
  font-style: normal;
  font-size: 36px;

  border-collapse: collapse;
  margin-bottom: 50px;
}

.item_info table td {
  padding: 10px;
  border: 2px solid var(--text-color);
  font-size: 20px;
}

.characteristic-title {
  font-weight: 600;
}
