<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/variables.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/footer.css" />
    <link rel="stylesheet" href="./css/media.css" />
  </head>
  <body>
    <ul>
      <li>
        <a href="/Course-work/Course_work/drones_page/index.html?type=drones">
          <img src="icons/drone.svg" alt="" />
        </a>
      </li>
      <li>
        <a
          href="/Course-work/Course_work/drones_page/index.html?type=components">
          <img src="icons/gear.svg" alt="" />
        </a>
      </li>
      <li>
        <a href="/Course-work/Course_work/">
          <img src="icons/home.svg" alt="" />
        </a>
      </li>
      <li>
        <a
          href="/Course-work/Course_work/comparison_page/items_comparison.html">
          <img src="icons/screw-white.svg" alt="" />
        </a>
      </li>
      <li>
        <a href="/Course-work/Course_work/drones_page/assembly.html">
          <img src="icons/screw.svg" alt="" />
        </a>
      </li>
    </ul>
  </body>
</html>
