<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./css/header.css" />
    <script src="./js/search.js"></script>
  </head>
  <body>
    <div class="logo">
      <img id="menu" src="./icons/menu.svg" />
      <h1 class="name">
        <a href="./index.html">DRONO-DROME</a>
      </h1>
    </div>
    <div class="searchWithRes">
      <div class="search">
        <input
          type="text"
          oninput="makeSearch(this, this.value )"
          id="searchField" />
        <img src="./icons/finder.svg" />
      </div>
      <div id="searchResults">
        <ul id="searchResultsList"></ul>
      </div>
    </div>
    <ul>
      <li><img id="analitica" src="./icons/analitica.svg" /></li>
      <li>
        <img
          id="light_theme"
          src="./icons/light_theme.svg"
          onclick="changeTheme()" />
      </li>
      <li>
        <select id="language" onchange="changeLanguage()">
          <option selected>UA</option>
          <option>EN</option>
        </select>
      </li>
    </ul>
  </body>
</html>
