<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/variables.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/menu.css" />
    <link rel="stylesheet" href="./css/media.css" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li class="lato-regular">
        <a href="/course_work_mj/index.html?type=drones" id="lang-drones">
          Дрони
        </a>
      </li>
      <li class="lato-regular">
        <a
          href="/course_work_mj/index.html?type=components"
          id="lang-components">
          Компоненти
        </a>
      </li>
      <ul class="hidden" id="components_types">
        <li>
          <a href="#" id="lang-antennas">Антени</a>
        </li>
        <li>
          <a href="#">Відеопередавачі</a>
        </li>
        <li>
          <a href="#">Камери</a>
        </li>
        <li>
          <a href="#">Конденсатори</a>
        </li>
        <li>
          <a href="#">Контролери</a>
        </li>
        <li>
          <a href="#">Мотори</a>
        </li>
        <li>
          <a href="#">Пропелери</a>
        </li>
        <li>
          <a href="#">Рами</a>
        </li>
        <li>
          <a href="#">Пігтейли</a>
        </li>
        <li>
          <a href="#">Вупи</a>
        </li>
        <li>
          <a href="#">Ресівери</a>
        </li>
        <li>
          <a href="#">Обладнання</a>
        </li>
      </ul>
      <li class="lato-regular">
        <a href="#" id="lang-comparison">Порівняння</a>
      </li>
      <li class="lato-regular">
        <a href="#" id="lang-assembly">Збірка</a>
      </li>
    </ul>
  </body>
</html>
